# make .env file from this file

# Vercel Postgres
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
SHADOW_DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Resend SMTP
SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST="smtp.resend.com"
SMTP_PORT=
EMAIL_FROM=
